<div class="jumbotron">
  <h1 class="text-center">NBA Team Rosters</h1>
  <p class="text-center">Add Your Player Information</p>
  <p class="text-center">
    <a class="btn btn-primary btn-lg" href="/team" role="button">Add Team</a>
  </p>
  <p class="text-center">
    <a class="btn btn-primary btn-lg" href="/teams" role="button">View Teams</a>
  </p>
</div>