<div class="lead">Add player to your roster</div>
<div class="well">
<form form action="/rosters/<%= @team_id %>" method="post">
  <div class="form-group">
    <label for="teamname">Player Name</label>
    <input name="name" type="text" class="form-control" placeholder="Enter player name">
  </div>

  <div class="form-group">
    <label for="height">Player Height</label>
    <input name="height" type="text" class="form-control" placeholder="Enter height">
  </div>

  <div class="form-group">
    <label for="weight">Player Weight</label>
    <input name="weight" type="text" class="form-control" placeholder="Enter weight">
  </div>

  <div class="form-group">
    <label for="position">Player Position</label>
    <input name="position" type="text" class="form-control" placeholder="Enter position">
  </div>

  <div class="form-group">
    <label for="jersey number">Jersey Number</label>
    <input name="jersey" type="text" class="form-control" placeholder="Enter jersey number">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <p><a href="/teams">Cancel</a></p>
</form>
</div>