<div class="well">
<form form action="/teams" method="post">
  <div class="form-group">
    <label for="teamname">Team Name</label>
    <input name="team" type="text" class="form-control" placeholder="Enter team name">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/teams">Cancel</a>
</form>
</div>